* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
header {
  max-width: 1600px;
  width: 100%;
}

/* common style */
.heading-2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.img {
  max-width: 64px;
  width: 100%;
  margin-bottom: 24px;
}

.heading-3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
}
.para {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

/* navbar */
nav {
  max-width: 1280px;
  width: 100%;
  padding: 24px 0;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 28px;
  font-weight: 600;
}

.btn button {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid rgba(0, 106, 80, 1);
  color: rgba(0, 106, 80, 1);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover {
  background: #54ffe217;
}
.btn button:active {
  transform: translateY(3px);
}

/* banner */
#banner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  gap: 64px;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  padding: 80px 60px;
  background: #c6e4d6;
  margin-top: 20px;
}
.banner-content h3 {
  font-size: 24;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.banner-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  margin-bottom: 24px;
  color: rgba(14, 14, 14, 1);
}
.banner-content button {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  padding: 17px 34px;
  background-color: rgba(0, 106, 80, 1);
  cursor: pointer;
}
.banner-content button:hover {
  background-color: rgba(0, 106, 80, 0.884);
}
.banner-content button:active {
  transform: translateY(3px);
}

/* pillars section */
#pillars,
#future,
#opinion {
  padding-top: 80px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.pillar-cards,
.future-card {
  display: flex;
  gap: 24px;
}
.card {
  padding: 24px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 2px 15px #92929283;
}

/* future section */
.section-future {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.heading-4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
}
.mb {
  margin-bottom: 12px;
}

.mb-1 {
  margin-bottom: 4px;
}

.card-color-1 {
  background: rgba(84, 144, 245, 0.2);
}
.card-color-2 {
  background: rgba(198, 228, 214, 1);
}
.card-color-3 {
  background: rgba(247, 235, 207, 1);
}
.btn-color-1 {
  background: rgba(84, 144, 245, 1);
}
.btn-color-2 {
  background: rgba(9, 161, 92, 1);
}
.btn-color-3 {
  background: rgba(255, 194, 57, 1);
}
.cards {
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2px 10px #929292b4;
}
.btn {
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-weight: 400;
}

.future-content {
  padding: 48px 24px;
  background: url("../assets/quote-bg.png") no-repeat 24px 24px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 10px;
}

/* opinion section*/
.opinion-table {
  padding: 32px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px #79787875;
}
.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-head-2 {
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  color: #333;
}
.table-content {
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  color: #333;
  border: 1px solid #3333334b;
}
#agree {
  max-width: 152px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 5px;
  /* remove */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M2 4l4 4 4-4' stroke='%23000' fill='none' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
}
